

<section>
    <div class="container-fluid">
        <h2 class="text-center" style="color: #092445; font-family: Playfair Display;
        ">Keep Up With Us</h2>
        <div class="sub-heading-1 text-center" style="color: #3D3D3D;">Follow us on Instagram to stay up to date on campus happenings!</div>
    

        <div class="container-instagram">
            <div class="embedsocial-hashtag" data-ref="33acb7628c285df369c01880285987685b00e861" ><a class="feed-powered-by-es" href="https://embedsocial.com/products/embedfeed/" target="_blank" title="Powered by EmbedSocial"><span>→</span></a></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));</script>
        </div>
        <div class="row text-center mb-5">
            <div class="col-lg-4 p-5">
                <div class="insta-post">
                    <img class="img-fluid img-responsive" src="/assets/imgs/Rectangle 12.png"> 
                    <div class="sub-heading-2 text-left pt-2">@penncharter</div>
                </div>
            </div>
            <div class="col-lg-4 p-5">
                <div class="insta-post">
                    <img class="img-fluid img-responsive" src="/assets/imgs/Rectangle 13.png"> 
                    <div class="sub-heading-2 text-left pt-2">@penncharter</div>
                </div>
            </div>
            <div class="col-lg-4 p-5">
                <div class="insta-post">
                    <img class="img-fluid img-responsive" src="/assets/imgs/Rectangle 14.png"> 
                    <div class="sub-heading-2 text-left pt-2">@penncharter</div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
.container-instagram{
    margin: 20px 200px;
    position: relative;
}
#es-new .f-reorder.f-reorder-large {
    width: 0 !important;
    border-radius: 0px;
}
@media screen and (max-width: 768px) {
    .container-instagram{
        margin: 20px auto;
        position: relative;
    }
}

@media screen and (max-width: 970px) {
  .insta-post {
    width: 100%;
  }
}
</style>


<script src="/assets/scripts/instafeed.js"></script>
<script src="/assets/scripts/custom.js"></script>
<script>document.getElementById('es-new').style.display = 'none'</script>