
<script src="https://ig.instant-tokens.com/users/88c1e89d-3b07-434e-af99-490e873ed8e6/instagram/17841447728938854/token.js?userSecret=1oe72my70spb6qsoocaq97"></script>
<script src="/assets/scripts/instafeed-min.js"></script>

<section>
    <div class="container-fluid">
        <h2 class="text-center" style="color: #092445; font-family: Playfair Display;
        ">Keep Up With Us</h2>
        <div class="sub-heading-1 text-center" style="color: #3D3D3D;">Follow us on Instagram to stay up to date on campus happenings!</div>
    

        <div class="container-instagram">
            <div id="instafeed"></div>
        </div>
        <div class="row text-center mb-5">
            <div class="col-lg-4 p-5">
                <div class="insta-post">
                    <img class="img-fluid img-responsive" src="/assets/imgs/Rectangle 12.png"> 
                    <div class="sub-heading-2 text-left pt-2">@penncharter</div>
                </div>
            </div>
            <div class="col-lg-4 p-5">
                <div class="insta-post">
                    <img class="img-fluid img-responsive" src="/assets/imgs/Rectangle 13.png"> 
                    <div class="sub-heading-2 text-left pt-2">@penncharter</div>
                </div>
            </div>
            <div class="col-lg-4 p-5">
                <div class="insta-post">
                    <img class="img-fluid img-responsive" src="/assets/imgs/Rectangle 14.png"> 
                    <div class="sub-heading-2 text-left pt-2">@penncharter</div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
.container-instagram{
    margin: 20px 200px;
    position: relative;
}
#es-new .f-reorder.f-reorder-large {
    width: 0 !important;
    border-radius: 0px;
}
@media screen and (max-width: 768px) {
    .container-instagram{
        margin: 20px auto;
        position: relative;
    }
}

@media screen and (max-width: 970px) {
  .insta-post {
    width: 100%;
  }
}
</style>
<script type="text/javascript">
$(document).ready(function() {
 
 // The Url from your Authorisations list  
 var instantTokenApiUrl = 'https://ig.instant-tokens.com/users/88c1e89d-3b07-434e-af99-490e873ed8e6/instagram/17841447728938854/token?userSecret=1oe72my70spb6qsoocaq97'
 
   $.ajax({
         url: instantTokenApiUrl,
     dataType: 'json'
       })
        .done(function( response ) {
         
         if (!response.Token) {
           console.log('Error :: ', response);
         } else {
             var feed = new Instafeed({
                        accessToken: response.Token
                       });
             feed.run();
           }
 });

});
</script>
<script>document.getElementById('es-new').style.display = 'none'</script>